<div class="modal-header">
    <h3>Create New Tour</h3>
</div>
<div class="modal-body">
    <div class="formitem">
        <label>Name</label>
        <input type=text ng-model="tour.name" maxlength="32" class="form-control">
    </div>
    <div class="formitem">
        <label>Starting Location</label>
        <input type=text ng-model="tour.startingLocation" class="form-control">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
