<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Rename Property List</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Enter New Name</label>
        <input type="text" class="form-control" ng-model="list.newName" class="form-control">
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
