<div class="criteria row">
    <div class="criteria-heading-mobile">
        <button class="btn btn-cancel" ng-click="sbc.closeCriteria(event)">Cancel</button>
        <h3>Filters</h3>
        <button class="btn btn-reset" ng-click="sbc.ResetCriteria()">Reset</button>
    </div>
    
    <div class="criteria-list criteria-list-dual col-sm-5 col-sm-push-3">
        <label class="field-item">List Price</label>
        <div class="dual-field">
            <select name="min-listprice" ng-model="sbc.controlValues.minlistprice" class="search-criteria search-select" ng-change="sbc.searchPrice()">
                <option ng-repeat="option in sbc.controls.minlistprice"  value="{{option.value}}">{{option.name}}</option>
            </select>
            <span class="text-to">to</span>
            <select name="min-listprice" ng-model="sbc.controlValues.maxlistprice" class="search-criteria search-select" ng-change="sbc.searchPrice()">
                <option ng-repeat="option in sbc.controls.maxlistprice"  value="{{option.value}}">{{option.name}}</option>
            </select>
        </div>
        
        <label class="field-item">Beds</label>
        <div class="dual-field">
            <select name="min-beds" ng-model="sbc.controlValues.minbeds" class="search-criteria search-select" ng-change="sbc.searchBed()">
                <option ng-repeat="option in sbc.controls.minbeds"  ng-value="option.value">{{option.name}}</option>
            </select>
            <span class="text-to">to</span>
            <select name="max-beds" ng-model="sbc.controlValues.maxbeds" class="search-criteria search-select" ng-change="sbc.searchBed()">
                <option ng-repeat="option in sbc.controls.maxbeds"  ng-value="option.value">{{option.name}}</option>
            </select>
        </div>
        
        <label class="field-item">Baths</label>
        <div class="dual-field">
            <select name="min-baths" ng-model="sbc.controlValues.minbaths" class="search-criteria search-select" ng-change="sbc.searchBath()">
                <option ng-repeat="option in sbc.controls.minbaths" ng-value="option.value">{{option.name}}</option>
            </select>
            <span class="text-to">to</span>
            <select name="max-baths" ng-model="sbc.controlValues.maxbaths" class="search-criteria search-select" ng-change="sbc.searchBath()">
                <option ng-repeat="option in sbc.controls.maxbaths"  ng-value="option.value">{{option.name}}</option>
            </select>
        </div>
        
        <label class="field-item">Square Feet</label>
        <div class="dual-field">
            <select name="min-sqft" ng-model="sbc.controlValues.minsqft" class="search-criteria search-select" ng-change="sbc.searchSqft()">
                <option ng-repeat="option in sbc.controls.minsqft" ng-value="option.value">{{option.name}}</option>
            </select>
            <span class="text-to">to</span>
            <select name="max-sqft" ng-model="sbc.controlValues.maxsqft" class="search-criteria search-select" ng-change="sbc.searchSqft()">
                <option ng-repeat="option in sbc.controls.maxsqft"  ng-value="option.value">{{option.name}}</option>
            </select>
        </div>
        
        <label class="field-item">Lot Size</label>
        <div class="dual-field">
            <select name="min-lotsize" ng-model="sbc.controlValues.minlotsize" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.minlotsize" ng-value="option.value">{{option.name}}</option>
            </select>
            <span class="text-to">to</span>
            <select name="max-lotsize" ng-model="sbc.controlValues.maxlotsize" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.maxlotsize" ng-value="option.value">{{option.name}}</option>
            </select>
        </div>
        
        <label>Year Built</label>
        <div class="dual-field">
            <select name="min-yearbuilt" ng-model="sbc.controlValues.minyearbuilt" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.minyearbuilt" ng-value="option.value">{{option.name}}</option>
            </select>
            <span class="text-to">to</span>
            <select name="max-yearbuilt" ng-model="sbc.controlValues.maxyearbuilt" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.maxyearbuilt" ng-value="option.value">{{option.name}}</option>
            </select>
        </div>
    </div>
    
    <div class="property-types col-sm-3 col-sm-pull-5">
        <label class="property-type-label">Property Types</label>
        <div class="property-select-group">
            <div ng-repeat="propertyType in sbc.controls.propertytypes"
                 class="property-type {{ propertyType.value }}"
                 ng-class="{active: sbc.controlValues.propertytype[propertyType.value] === true}"
                 ng-click="sbc.ModifyPropertyTypes(sbc.controlValues.propertytype,propertyType)">
                <div class="property-type-image {{ propertyType.value }}"></div>
                <div class="property-type-text">
                    {{ propertyType.name }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="criteria-list criteria-list-single col-sm-4">
        <div class="single-field">
            <label>Parking</label>
            <select name="parking" ng-model="sbc.controlValues.minparking" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.minparking" ng-value="option.value">{{option.name}}</option>
            </select>
        </div>
        
        <div class="single-field">
            <label>Monthly Fees</label>
            <select name="hoafees" ng-model="sbc.controlValues.maxhoa" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.maxhoa" value="{{option.value}}">{{option.name}}</option>
            </select>
        </div>
        
        <div class="single-field">
            <label>Days</label>
            <select name="dom" ng-model="sbc.controlValues.dom" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.dom" value="{{option.value}}">{{option.name}}</option>
            </select>
        </div>
        
        <div class="single-field">
            <label>Price Reduced</label>
            <select name="pricereduced" ng-model="sbc.controlValues.pricereduced" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                <option ng-repeat="option in sbc.controls.pricereduced" value="{{option.value}}">{{option.name}}</option>
            </select>
        </div>
        
        <div class="open-house-filter">
            <label class="switcher-label">Open House</label>
            <div class="switcher" ng-class="{active: sbc.openHouse === true}" ng-click="sbc.OpenhouseToggle()">
                <div class="switcher-button"></div>
            </div>
        </div>
        
        <!--
        <div class="criteria-item">
            <div class="single-field">
                <label>Open House</label>
                <select name="nextopenhouse" ng-model="sbc.controlValues.nextopenhouse" class="search-criteria search-select" ng-change="sbc.UpdateSearch()">
                    <option ng-repeat="option in sbc.controls.nextopenhouse" value="{{option.value}}">{{option.name}}</option>
                </select>
            </div>
        </div>-->
        
        <!--<div class="search-button-group">
            <button class="btn btn-apply" ng-click="sbc.ResetCriteria()">Apply</button>
        </div>
    -->
        <div class="search-button-group">
            <button class="btn btn-reset" ng-click="sbc.ResetCriteria()">Reset</button>
        </div>
        
        <div class="count-listing">{{listinglist}}</div>
        
    </div>

   <!-- <div class="full-field">
        <label>Special Conditions: </label>
		<div class="criteria-select-group">
        <div class="checkboxes">
            <div class="checkbox" ng-repeat="option in sbc.controls.specialconditions" class="search-criteria"><input type="checkbox" name="specialcond" value="{{option.value}}" checked>{{option.name}}</div>
        </div>
    </div>-->
    
    <div class="criteria-footer-mobile">
        <button class="btn btn-apply" ng-click="sbc.closeCriteria()">OK</button>
        <div class="count-listing">{{listinglist}}</div>
    </div>

</div>
