<div class="modal-btn-container">
    <button class="btn btn-back modal-prev-btn" ng-click="displayPreviousDetails()">
        <span class="icon icon-back"></span>
    </button>
    <button class="btn btn-next modal-next-btn" ng-click="displayNextDetails()">
        <span class="icon icon-next"></span>
    </button>
</div>

<div class="top popup-header">
    <div class="wrapp-btn-left">
        <button class="btn btn-back" ng-click="displayPreviousDetails()">
            <span class="icon icon-back"></span>
        </button>
        <button class="btn btn-next" ng-click="displayNextDetails()">
            <span class="icon icon-next"></span>
        </button>
    </div>
    <div class="popup-header-left">
            <div class="type-img-container">
				<img class="{{property.propertytype.toLowerCase()}}">
			</div>
            
        <div class="right">
            <span class="price">{{property.listprice| currency:'$':0}}</span>
            <span class="text">{{property.propertytype}} For Sale</span>
        </div>
    </div>

    <div class="bbs bathrooms popup-header-center">
        <div class="wrapp-bathrooms">
            <span ng-show="property.beds" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-bed-2"></span>
                    <span class="number">{{property.beds}}</span>
                </span>
                <span class="bottom">Bedroom</span>
            </span>
            <span ng-show="property.baths" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-bathroom"></span>
                    <span class="number">{{property.baths}}</span>
                </span>
                <span class="bottom">Bathroom</span>
            </span>
            <span ng-show="property.sqft" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-area"></span>
                    <span class="number">{{property.sqft}}</span>
                </span>
                <span class="bottom">Approx. Acres</span>
            </span>
            <span ng-show="property.lotsize" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-lot-size-new"></span>
                    <span class="number">{{property.lotsize}}</span>
                </span>
                <span class="bottom">Lot Size. </span>
            </span>
        </div>
        <div class="author-detail-horizontal" style="display:none">
            <div class="wrap-img">
                <span class='author-images'><img src="images/hartcourts/avatar.png" alt="author" /></span>
            </div>
            <div class="info">

                <span class="author-message">
                    <span class="fa fa-comments"></span> 
                </span>
                <span class="author-call">
                    <span class="fa fa-phone"></span> 
                </span>
            </div>
        </div>
    </div>
    <div class="popup-header-right">
	
		<button class="btn btn-saved" ng-show="property.savedpropertyid != 0" ng-click="$event.stopPropagation();SaveProperty(property, $event);">
            <span class="icon icon-saved"></span>
        </button>
        <button class="btn btn-folder" ng-show="property.savedpropertyid == 0">
            <span class="icon icon-folder"></span>
        </button>
        <button class="btn btn-email-popup" ng-click="$event.stopPropagation();requestInfo(property);">
            <span class="icon icon-email-popup"></span>
        </button>
        <button class="btn btn-share-popup" >
            <span class="icon icon-share-popup"></span>
        </button>

        <!-- <button class="btn btn-print-popup" ng-click="handlePrint()">
            <span class="icon icon-print-popup"></span>
        </button> -->
        <button ng-show="resizeCount" class="btn btn-view-small" ng-click="handleResize()" ng-cloak>
            <span class="icon icon-view-small"></span>
        </button>
        <button ng-show="!resizeCount" class="btn btn-view-full" ng-click="handleResize()" ng-cloak>
            <span class="icon icon-view-full"></span>
        </button>
        <button class="btn btn-close" ng-click="cancel()">
            <span class="icon icon-close"></span>
        </button>
    </div>
    
    <!--
      </div>
      <div class="popup-header-right">
        <div class="author-detail-horizontal">
          <div class="wrap-img">
              <span class="author-message">
                  <span class="fa fa-comments"></span>
              </span>
              <span class='author-images'><img src="images/hartcourts/avatar.png" alt="author" /></span>
              <span class="author-call">
                  <span class="fa fa-phone"></span>
              </span>
          </div>
          <div class="info">
              <h3 class="author-name">Hayden Duncan</h3>
              <h6 class="agent_comments">CEO, Harcourts Noth Vancouver</h6>
          </div>
        </div>
        <div class="popup-header-right__btn">
          <button class="btn btn-folder">
            <span class="icon icon-folder"></span>
          </button>
          <button class="btn btn-email-popup">
            <span class="icon icon-email-popup"></span>
          </button>
          <button class="btn btn-print-popup">
            <span class="icon icon-print-popup"></span>
          </button>
          <button ng-show="!resizeCount" class="btn btn-view-small" ng-click="handleResize()" ng-cloak>
            <span class="icon icon-view-small"></span>
          </button>
          <button ng-show="resizeCount" class="btn btn-view-full" ng-click="handleResize()" ng-cloak>
            <span class="icon icon-view-full"></span>
          </button>
          <button class="btn btn-close" ng-click="cancel()">
            <span class="icon icon-close"></span>
          </button>
        </div>
      </div>
    -->
    <!-- fake push -->
</div>
<div class="top popup-header tablet-popup-header">
    <div class="header-row">
        <div class="wrapp-btn-left">
            <button class="btn btn-back" ng-click="displayPreviousDetails()">
                <span class="icon icon-back"></span>
            </button>
            <button class="btn btn-next" ng-click="displayNextDetails()">
                <span class="icon icon-next"></span>
            </button>
        </div>

        <div class="author-detail-horizontal" style="display:none">
 				<span class="author-message">
 						<span class="fa fa-comments"></span> 
 				</span>
 				<div class="wrap-img">
 					<span class='author-images'><img src="images/hartcourts/avatar.png" alt="author" /></span>
 				</div>
 				<span class="author-call">
 						<span class="fa fa-phone"></span> 
 				</span>
 				<div class="info">
 					<h3 class="author-name">David, Chen</h3>
 					<h6 class="agent_comments">PREC, RE/MAX Crest Side West Coast Realty</h6>
 				</div>
 			</div>

        <div class="popup-header-right">
			<button class="btn btn-saved" ng-show="property.savedpropertyid!='0'" ng-click="$event.stopPropagation();SaveProperty(property, $event);">
				<span class="icon icon-saved"></span>
			</button>
			<button class="btn btn-folder" ng-show="property.savedpropertyid=='0'">
				<span class="icon icon-folder"></span>
			</button>
            <button class="btn btn-email-popup">
                <span class="icon icon-email-popup"></span>
            </button>
            <!-- <button class="btn btn-print-popup" ng-click="handlePrint()">
                <span class="icon icon-print-popup"></span>
            </button> -->
            <button class="btn btn-close" ng-click="cancel()">
                <span class="icon icon-close"></span>
            </button>
        </div>
    </div>
    <div class="header-row">
        <div class="popup-header-left">
                <div class="left">
                    <div class="type-img-container">
				        <img class="{{property.propertytype.toLowerCase()}}">
			        </div>
                </div>
                
            <div class="right">
                <span class="price">{{property.listprice| currency:'$':0}}</span>
                <span class="text">{{property.propertytype}} For Sale</span>
            </div>
        </div>

        <div class="bbs bathrooms popup-header-center">
            <div class="wrapp-bathrooms">
            <span ng-show="property.beds" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-bed-2"></span>
                    <span class="number">{{property.beds}}</span>
                </span>
                <span class="bottom">Bedroom</span>
            </span>
                <span ng-show="property.baths" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-bathroom"></span>
                    <span class="number">{{property.baths}}</span>
                </span>
                <span class="bottom">Bathroom</span>
            </span>
                <span ng-show="property.sqft" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-area"></span>
                    <span class="number">{{property.sqft}}</span>
                </span>
                <span class="bottom">Approx. Acres</span>
            </span>
                <span ng-show="property.lotsize" class="bathrooms-item">
                <span class="top">
                    <span class="ico ico-lot-size-new"></span>
                    <span class="number">{{property.lotsize}}</span>
                </span>
                <span class="bottom">Lot Size. Acres</span>
            </span>
            </div>

        </div>

    </div>

</div>
<div class="wrapp-photo-map">
    <div class="photos">
        <div class="dbl-img-container">
            <div uib-carousel active="active" class="carousel">
				<span class="icon-mls">
					<img src="images/icon-mls.png" class="img-responsive">
				</span>
                <div uib-slide ng-repeat="prop in property.photourls| limitTo:(property.photourls.length)/2 track by prop.id" index="prop.id">
                    <img ng-src="{{property.photourls[$index*2]['image']}}" class="full-height">
                    <img ng-src="{{property.photourls[$index*2+1]['image']}}" class="full-height">
                </div>
                <!-- <div class="single-img-container" uib-slide ng-repeat="prop in property.photourls track by prop.id" index="prop.id">
                    <img ng-src="{{prop.image}}" class="full-height">
                </div> -->
            </div>
            <div class="buttons">
                <button class="btn" ng-click="expandPhotos(property.photourls, true);">
                    <img class="expand-photo">
                    {{(property.photourls.length) | number}} Photos
                </button>
                <button class="btn" ng-click="ldt.saveProperty(property)" ng-show="property.savedpropertyid==0">
                    <span class="save-listing" />
                    Save Listing
                </button>
				<button class="btn btn-carousel-saved" ng-show="property.savedpropertyid!=0" >
                    <span class="saved-listing" />
                    Saved Listing
                </button>
                <button class="btn btn-carousel-save" ng-show="property.savedpropertyid!=0" >
                    <span class="save-listing" />
                    Saved Listing
                </button>
            </div>
        </div>
        <div class="single-img-container">
            <div uib-carousel active="active" class="carousel">
				<span class="icon-mls">
					<img src="images/icon-mls.png" class="img-responsive">
				</span>
                <div uib-slide ng-repeat="prop in property.photourls track by prop.id" index="prop.id">
                    <img ng-src="{{prop.image}}" class="full-height">
                </div>
            </div>
            <div class="buttons">
                <button class="btn" ng-click="expandPhotos(property.photourls, true);">
                    <img class="expand-photo">
                    {{(property.photourls.length) | number}} Photos
                </button>
                <button class="btn" ng-click="ldt.saveProperty(property)" ng-show="property.savedpropertyid==0">
                    <span class="save-listing" />
                    Save Listing
                </button>
				<button class="btn btn-carousel-saved" ng-show="property.savedpropertyid!=0" >
                    <span class="saved-listing" />
                    Saved Listing
                </button>
				
            </div>
        </div>
    </div>
    <div class="map-container">
        <section class="maps" id="rea_property_details_map">

        </section>
        <div class="map_button">
            <button class="btn" ng-click="expandPhotos(property)">
                <span class="label">Expand Map</span>
                <span class="icon-map">
					<i class="icon expand-map"></i>
				</span>
            </button>

            <button class="btn" ng-click="showpoi()">
                <span class="label">Points of interest</span>
                <span class="icon-map">
					<i class="icon poi-map"></i>
				</span>
            </button>

            <button class="btn" ng-click="showaerial()">
                <span class="label">Aerial View</span>
                <span class="icon-map">
					<i class="icon aerial-map"></i>
				</span>
            </button>

            <button class="btn" ng-click="showstreetview()">
                <span class="label">Street View</span>
                <span class="icon-map">
					<i class="icon street-map"></i>
				</span>
            </button>
        </div>
    </div>

</div>
<div class="legend">
    <div class="legend-desc-list">
        <div class="legnd-desc-item">
            <span class="title">Year Built</span>
            <span class="unit">{{property.yearbuilt}}</span>
        </div>
        <div class="legnd-desc-item">
            <span class="title">Lot Size</span>
            <span class="unit">{{property.lotsize}}  <span class="acres">acres</span></span>
        </div>
        <div class="legnd-desc-item">
            <span class="title">Fees</span>
            <span class="unit">{{property.hoafees}}</span>
        </div>
        <div class="legnd-desc-item">
            <span class="title">PP Sqft</span>
            <span class="unit">{{property.ppsqft| currency:'$':0}}</span>
        </div>
        <div class="legnd-desc-item">
            <span class="title">Days</span>
            <span class="unit">{{property.dom}}</span>
        </div>
        <div class="legnd-desc-item">
            <span class="title">MLS®#:</span>
            <span class="unit">{{property.listingid}}</span>
        </div>
    </div>
</div>
<div class="wrapp-scroll">
    <div class="agent-info">
        <div class="inner">
            <div class="street-address">
                <h3 class="text title">{{property.address}}, {{property.city}} {{property.stateprovince}} {{property.postalcode}}</h3>
            </div>
        </div>
    </div>
    <div class="specification-popup">
        <!--        <div class="specification-intro">
                    <div class="specification-intro-item">
                        <div class="inner-specification">
                            <div class="row">
                                <div class="col-md-2 col-sm-3">
                                    <h3 class="specification-title">Description</h3>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <div class="specification-intro-content">
                                        <p>{{property.remarks}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="specification-intro-item specification-item-popup">
                        <h3 class="specification-title">Property Details</h3>
                        <div class="inner-specification">
                            <div class="list-property">
                                <div class="property-item">
                                    <div class="property-name">Property Type:</div>
                                    <div class="property-unit">House</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Lot Size:</div>
                                    <div class="property-unit">50ft x 122 ft (6100ft<sub>2</sub>)</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Property Age:</div>
                                    <div class="property-unit">Built in 2016 (1 yrs old)</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Gross Taxes for 2016:</div>
                                    <div class="property-unit">$11,0</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Title:</div>
                                    <div class="property-unit">Freehold NonStrata</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Style:</div>
                                    <div class="property-unit">2 Storey w/Bsmt.</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Frontage:</div>
                                    <div class="property-unit">50.00</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Depth:</div>
                                    <div class="property-unit">122</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Listing ID</div>
                                    <div class="property-unit">R2149013</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Primary Agent</div>
                                    <div class="property-unit"> Hayden Duncan</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Primary Broker</div>
                                    <div class="property-unit"> RE/MAX Select Properties</div>
                                </div>
                                <div class="property-item">
                                    <div class="property-name">Area</div>
                                    <div class="property-unit"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
    </div>
    <div class="property-info-wrapper">
        <div class="container-fluid">
            <section class="row description" style="background-color:#ffffff;">
                <div class="col-md-3 col-lg-2">
                    <h3>Description</h3>
                </div>
                <div class="col-md-9 col-lg-10">
                    <div class="remarks">{{property.remarks}}  <br /><i>{{property.brokername}}</i></div>
                </div>
            </section>

            <div class="row">
                <div class="col-sm-8 feature-wrapper" style="background-color:none">
                    <section class="features">
                        <h3>Interior Features</h3>
                        <div class="row">
                            <div class="col-xs-6 feature" ng-repeat="feature in property.interiorfeatures">
                                <label class="col-xs-6">{{feature.name}}:</label>
                                <span ng-if="feature.vow && hideVow" class="col-xs-6"><a ng-click="doLogin()">Sign Up</a></span>
                                <span ng-if="!feature.vow || !hideVow" class="col-xs-6">{{feature.value | nana}}</span>
                            </div>
                        </div>
                    </section>
                    <section class="features">
                        <h3>Exterior Features</h3>
                        <div class="row">
                            <div class="col-xs-6 feature" ng-repeat="feature in property.exteriorfeatures">
                                <label class="col-xs-6">{{feature.name}}:</label>
                                <span ng-if="feature.vow && hideVow" class="col-xs-6"><a ng-click="doLogin()">Sign Up</a></span>
                                <span ng-if="!feature.vow || !hideVow" class="col-xs-6">{{feature.value | nana}}</span>
                            </div>
                        </div>
                    </section>
                    <section class="features">
                        <h3>Property Features</h3>
                        <div class="row">
                            <div class="col-xs-6 feature" ng-repeat="feature in property.propertyfeatures">
                                <label class="col-xs-6">{{feature.name}}:</label>
                                <span ng-if="feature.vow && hideVow" class="col-xs-6"><a ng-click="doLogin()">Sign Up</a></span>
                                <span ng-if="!feature.vow || !hideVow" class="col-xs-6">{{feature.value | nana}}</span>
                            </div>
                        </div>
                    </section>
                    <div class="media-amenities-desc">
                        <div class="info">
                            <p><img src="images/hartcourts/mls-logo.svg" width="10%"  alt="logo menities" style="float: right;margin-right: 10px;" class="amenities-desc-img">
                                <font color="#97a4b1" size="2"  alt="author">The data relating to real estate on this website comes in part from the MLS® Reciprocity program of either the Real Estate Board of Greater Vancouver (REBGV), the Fraser Valley Real Estate Board (FVREB) or the Chilliwack and District Real Estate Board (CADREB). Real estate listings held by participating real estate firms are marked with the MLS® logo and detailed information about the listing includes the name of the listing agent. This representation is based in whole or part on data generated by either the REBGV, the FVREB or the CADREB which assumes no responsibility for its accuracy. The materials contained on this page may not be reproduced without the express written consent of either the REBGV, the FVREB or the CADREB.</p>
                        </div>

                        <div class="remarks" ><div class="powered">Powered by <a href="http://www.reala.ca">reala.ca</a></div>
                        </div>
                    </div>







                </div>

                <div class="col-sm-4 mortgage-sidebar" style="background-color:#242d39;">
					<section class="mortgage-calculator">
						<div class="title">Mortgage Payment Calculator</div>
						<div class="content">
							<div class="input-wrapper">
								<div class="input-group property-evaluation">
									<label>Property Evaluation</label>
									<span class="input-currency"><input type="text" class="input-control" ng-model="mortgage.homePrice"/></span>
								</div>
								<div class="input-group rate">
									<label>Rate</label>
									<span class="input-percentage">
                                        <select class="input-control" ng-model="mortgage.interestRate">
                                            <option ng-value="rate" ng-repeat="rate in mortgage.interestRates"  style="color:black">
                                                {{rate}}
                                            </option>
                                        </select>
                                    </span>
								</div>
								<div class="input-group down-payment">
									<label>Down Payment</label>
									<span class="input-percentage">
                                        <select  class="input-control" ng-model="mortgage.downPaymentRate">
                                            <option ng-value="downPaymentRate" ng-repeat="downPaymentRate in mortgage.downPayments" style="color:black">
                                                {{downPaymentRate}}
                                            </option>
                                        </select>
                                    </span>
								</div>
								<div class="input-group term">
									<label>Term</label>
									<span>
                                        <select class="input-control" ng-model="mortgage.mortgagePeriod">
                                            <option ng-value="mortgagePeriod" ng-repeat="mortgagePeriod in mortgage.mortgagePeriods" style="color:black">{{mortgagePeriod}}</option>
                                        </select>
                                    </span>
								</div>
							</div>
							<div class="info-wrapper row">
								<div class="col-xs-4">
									<label>Down Payment Amount</label>
									<p>${{mortgage.downPayment}}</p>
								</div>
								<div class="col-xs-4">
									<label>Maintenance</label>
									<p>0</p>
								</div>
								<div class="col-xs-4">
									<label>Property Taxes</label>
									<p>$134</p>
								</div>
								<div class="col-xs-4">
									<label>Mortgage Amount</label>
									<p>${{mortgage.mortgageAmount}}</p>
								</div>
								<div class="col-xs-4">
									<label>Taxes</label>
									<p>0</p>
								</div>
								<div class="col-xs-4">
									<label>Total Monthly Amount</label>
									<p>${{mortgage.monthlyPayment}}</p>
								</div>
							</div>
						</div>
					</section>
					<section class="home-worth"> 
						<div class="title">What is your home worth?</div>
						<div class="content">
							<div class="desctwo">
								<p>How much do homes like
									this sell for? Get a report
									with <span>active & Sold</span> Listings
									similar to this property in
									minutes sent to your email </p>
								<button type="button" title="GET YOUR REPORT NOW" class="desc-get-more-info">GET YOUR REPORT NOW</button>

							</div>
							<img class="descimage" src="/images/hartcourts/iphone.png" alt="what is your home worth" class="amenities-desc-img">
						</div>
					</section>
					
					<section class="agent-info">
						<div class="title">Agent Information</div>
						<div class="content">
							<img class="img-avatar" src="images/hartcourts/avatar.png">
							<div class="info-wrapper">
								<h3 class="agent-name">David Chen</h3>
								<h4 class="company-name">Personal Real Estate Corporation</h4>
								<h5 class="address">RE/MAX Crest Westside, 1428 W 7th Ave Vancouver, BC V6H 1C1 </h5>
								<div class="contact-wrapper">
									<a href="#">
										<span class="dvc-icon-min">
											<i class="fa fa-comments" aria-hidden="true"></i> Message Now
										</span>
									</a>
									<a href="#">
										<span class="dvc-icon-min">
											<i class="fa fa-phone" aria-hidden="true"></i> Call Now
										</span>
									</a>
								</div>
							</div>
						</div>
					</section>
					<section class="tour"> 
						<div class="title">Go tour this home</div>
						<div class="content">
							<p>It's free, with no obligation - cancel anytime</p>
							<button type="button" title="SCHEDULE TOUR" class="desc-schedule-tour">Message Now</button>
						</div>
					</section>
					
					
                    <!-- <div class="agent-infotwo">
                        <div class="inner">
                            <div class="street-address">
                                <h4 class="text title">Mortgage Calculator</h4>
                            </div>

                        </div>
                        <section class="row description" style="background-color:#ffffff;">
                        </section>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="desctwo">
                            <p>How much do homes like
                                this sell for? Get a report
                                with <span>active & Sold</span> Listings
                                similar to this property in
                                minutes sent to your email </p>
                            <button type="button" title="View More Listings" class="desc-get-more-info">Get your report now</button>

                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6">
                        <img class="descimage" src="images/iphone.png" alt="what is your home worth" class="amenities-desc-img">
                    </div> -->







                </div>
            </div>

        </div>
    </div>
    <div class="specification-amenities amenities-popup">
        <!--        <div class="content-amenites">
                    <h3 class="specification-title">Amenities</h3>
                    <div class="list-amenites">
                        <div class="amenities-item">
                            <p>Air Conditioning</p>
                            <p>Cloth Washe/Dryer</p>
                        </div>
                        <div class="amenities-item">
                            <p>Fridge/Stove</p>
                            <p>Heat Recov. Vent</p>
                        </div>
                        <div class="amenities-item">
                            <p>Oven-Built In</p>
                            <p>Security System</p>
                        </div>
                        <div class="amenities-item">
                            <p>Vacuum Blt. In</p>
                            <p>Vacuum Blt.</p>
                        </div>
                    </div>
                </div>-->
        <div class="media-amenities">
            <h3 class="specification-title" align="center">Property Video and Virtual Tour</h3>
            <div class="list-media-amenities">
                <div class="media-amenities-item">
                    <iframe width="560" height="640" src="https://www.youtube.com/embed/vkCsr82uGBU" frameborder="0" allowfullscreen></iframe>
					<!-- <img src="images/hartcourts/media-amenities_01.jpg" alt="media amenities"> -->
                </div>
                <div class="media-amenities-item">
                    <iframe src="https://my.matterport.com/show/?m=QrZBo8WX867"> </iframe>
					<!-- <img src="images/hartcourts/media-amenities_02.jpg" alt="media amenities"> -->
                </div>
            </div>
            
        </div>
    </div>
    <div class="specification-weather-map weather-map-popup">
        <div class="map">
            <img ng-src="{{popupMapUrl(property)}}">
			<!-- <img src="images/hartcourts/amenities-map.jpg" alt="media amenities"> -->
        </div>
        <div class="weather">
            <img src="images/hartcourts/amenities-weather-bg.png" alt="media amenities">
            <div class="wrapper-inner">
                <div class="weather-detail">
                    <div class="content-head">
                        <div class="head-weather head-left">
                            <img src="images/hartcourts/home-3-white.png" alt="media amenities">
                            <span class="text">Listings</span>
                        </div>
                        <div class="head-weather head-right">
                            <img src="images/hartcourts/weather-white.png" alt="media amenities">
                            <span class="text"> 10°C|°F</span>
                        </div>
                    </div>
                    <div class="content-main">
                        <p class="title-primary">FALSE CREEK LIVING</p>
                        <p class="sub-title">A model for west coast living</p>
                        <div class="desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt nulla ut velit ornare, et placerat sem sagittis. Vestibulum posuere turpis at vulputate finibus. Duis et lorem tellus. Nulla eget tincidunt turpis. Nullam congue vitae magna sed gravida. Nunc mollis nulla eu lacus pellentesque lacinia. Praesent lacinia posuere velit, id tempus metus efficitur at. Donec cursus purus eu quam mattis, non pretium velit ultrices. Cras posuere nibh ut luctus auctor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt nulla ut velit ornare
                            </p>
                        </div>
                        <button type="button" title="View Community" class="btn btn-request">View Community</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-relevant-listing relevant-listing-popup">
        <h3 class="listing-title">Relevant Listings</h3>
        <div class="relevant-listing">
            <!--                        <div class="row">
                                        <div class="col-md-4" ng-repeat="property in possibleProperties">
                                            <div class="relevant-item">
                                                <img class="item-image" src="http://allrefinder.com/{{property.firstphotourl}}" alt="overview" class="img-relevant">
                                                <div class="wrap-relevant top">
                                                    <div class="left">
                                                        <span class="relevant-label label-sale">for sale</span>
                                                        <span class="relevant-label label-new">new listing</span>
                                                    </div>
                                                    <div class="right">
                                                        <button type="button" class="btn btn-upto"></button>
                                                    </div>
                                                </div>
                                                <div class="wrap-relevant bottom">
                                                    <div class="relevant-info">
                                                        <div class="info-item">
                                                            <div class="price">
                                                                <span>{{property.listprice| currency:'$':0}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="info-item">
                                                            <div class="address-relevant street">
                                                                <span class="text">{{property.address}}</span>
                                                            </div>
                                                            <div class="address-relevant number">
                                                                <span>{{property.beds}} bd</span>
                                                                <span>{{property.baths}} ba</span>
                                                                <span>{{property.sqft}} sf</span>
                                                            </div>
                                                        </div>
                                                        <div class="info-item">
                                                            <span class="status-info">
                                                                <span class="open">
                                                                    <img src="images/hartcourts/address-white.png">
                                                                    <span class="text relevant-label label-open">{{property.propertytype}}</span>
                                                                </span>
                                                            </span>
                                                            <span class="date-time">Sun. 12-4 . 2 Paseo Acebo, Rancho Santa Mar..</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
            <section class="gallery">
                <ul id="modalPropertyCarousel" >

                    <li ng-repeat="property in featuredProperties" modal-property-repeater>
                        <featured-property-card/>
                    </li>

                </ul>
                <!-- <slick settings="propertiesSlider" class="carousel-style-2" init-onload="true">
                    <featured-property-card ng-repeat="property in featuredProperties"></featured-property-card>
                </slick> -->
            </section>
        </div>
        <div class="wrapper-btn">
            <button type="button" title="View More Listings" class="btn btn-view-more">View More Listings</button>
        </div>
    </div>
</div>
<div class="popup-footer">
    <a  ng-click="listingdetailspage(property)" title="view full details" class="view-detail" >VIEW FULL DETAILS</a>
    <div class="x-close" ng-click="cancel()">
        <button class="btn close-popup">&times;</button>
    </div>
</div>


<!-- <section class="top">
    <div class="row">
        <span class="price">{{property.listprice | currency:'$':0}}</span>
        <span class="type">{{property.propertytype}} For Sale</span>
        <div class="x-close" ng-click="cancel()">X</div>
        <section class="bbs">
            <span ng-show="property.beds">{{property.beds}} Beds |</span>
            <span ng-show="property.baths">{{property.baths}} Baths |</span>
            <span ng-show="property.sqft">{{property.sqft}} SqFt</span>
        </section>
    </div>
    <div class="row">
        <span class="street-address">{{property.address}}, {{property.city}} {{property.stateprovince}} {{property.postalcode}}</span>
    </div>
</section>
<div class="row">
    <section class="photos">
        <div uib-carousel active="0"  no-wrap="false">
            <div uib-slide ng-repeat="photo in property.photourls">
                <img ng-src="{{domain+photo}}">
            </div>
    </section>
    <section class="maps" id="rea_property_details_map">

    </section>
</div>
<section class="legend">
    <div class="row">
        <div class="col-sm-4"><label>Year Built</label> {{property.yearbuilt}}</div>
        <div class="col-sm-4"><label>Lot Size</label> {{property.lotsize}}</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label>HOA Fees</label> {{property.hoafees}}</div>
        <div class="col-sm-4"><label>PP Sqft</label> {{property.ppsqft}}</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label>DOM</label> {{property.dom}}</div>
        <div class="col-sm-4"><label>MLS</label> {{property.listingid}}</div>
    </div>
    <agent-info info="property.agentInfo"></agent-info>
    <div class="agent_comments">{{property.agentcomments}}</div>
</section>
<h3>Remarks</h3>
<div class="remarks">{{property.remarks}}</div>
<section class="features">
    <h3>Interior Features</h3>
    <div ng-repeat="feature in property.interiorfeatures">
        <label>{{feature.name}}</label><span>{{feature.value}}</span>
    </div>
</section>
<section class="features">
<h3>Exterior Features</h3>
<div ng-repeat="feature in property.exteriorfeatures">
    <label>{{feature.name}}</label><span>{{feature.value}}</span>
</div>
</section>
<section class="features">
    <h3>Property Features</h3>
    <div ng-repeat="feature in property.propertyfeatures">
        <label>{{feature.name}}</label><span>{{feature.value}}</span>
    </div>
</section> -->
