
<div class="listing-filter-inner">
    <div class="current-area text-muted">
        {{slc.currentAreaParams.label | capitalize}}
    </div>
    <div class="current-count text-muted">{{slc.listingCountString}}</div>
</div>

<div class="filter-options">

    <div class="btn-group" uib-dropdown  is-open="sort.isopen">
        <img src="images/altfilter.svg" height="23px" class="normal" uib-dropdown-toggle>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu  role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="sortOrder in slc.sortOrderOptions" ng-click="slc.ChangeSortOrder(sortOrder.id)"><i ng-if="slc.currentSortOrder==sortOrder.id" class="fa fa-check" ></i>{{sortOrder.name}}</li>
        </ul>
    </div>
    Sort

    <div class="filter-option-col">

            <section class="filter-wrapper">

                <div class="filter-col secondview">
                    <a ui-sref="search.maplist" ng-model="sbc.currentView" uib-btn-radio="'maplist'">
                        <img src="images/icon-both.svg" width="23px" class="normal">
                        <img src="images/icon-both-active.svg" width="23px" class="active">
                    </a>
                    <a ui-sref="search.list" ng-model="sbc.currentView" uib-btn-radio="'list'">
                        <img src="images/listnew.svg" width="23px" class="normal">
                        <img src="images/listnew-active.svg" width="23px" class="active">
                    </a>
                    <a ui-sref="search.thumbs" ng-model="sbc.currentView" uib-btn-radio="'thumbs'">
                        <img src="images/thumbnew.svg" width="23px" class="normal">
                        <img src="images/thumbnew-active.svg" width="23px" class="active">
                    </a>
                </div>


            </section>

        </div>

    <div class="filter-option-col">





        </div>

    <div class="filter-option-col">
            <select class="save-locations" ng-model="slc.currentSaveLocation" ng-change="slc.SaveLocationChanged()">
      <option ng-repeat="list in slc.lists" value="{{list}}" ng-selected="list==slc.currentSaveLocation">{{list}}</option>
                <option style="font-style:italic;font-weight:bold;" value="-1" >Create New List...</option>
            </select>
        </div>

    <button class="btn btn-arrow-blue" ui-sref="propertylist({id:slc.currentSaveLocation})" href="#/properties/">
        <img src="images/altarrow.svg" class="btn-arrow-blue-image" width="35px">
    </button>
        


</div>
   
