
<search-list-pane class="listing-content-inner">
    
    <section class="listing-filter" ng-include="'search/filter.pane.html'"></section>
    <!-- .listing-filter -->
    <section class="listing-main">
        <div class="listing-main-inner">
            <search-list-pane class="search-list-pane">
                <section class="search-results">
                    <search-property-card class="item-listing" ng-repeat="property in slc.properties">
                    </search-property-card>
                </section>
            </search-list-pane>
                <section class="pagination-block">
            <div paging class="pagination-container" page="slc.currentPage" page-size="slc.pageSize" total="slc.totalListings" paging-action="slc.DisplayListingsPage(page)"
                show-prev-next="true" show-first-last="true" adjacent=1 ul-class="pagination pagination-sm" style="height:2%">
            </div>
        </section>
        </div>
    
    </section>
   
    <!--<property-card class="item-listting" ng-repeat="property in properties"></property-card>-->

    <!-- <button class="toggle-map" ng-click="slc.togglePaneSize()">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </button> -->
</search-list-pane>