<div class="property-photo" ng-click="slc.ShowDetails(property)" hover-image-effect="property-bg">
    <div class="property-inner">
		<div class="property-img-container">
			<img draggable=false ng-src="{{slc.domain+property.firstphotourl}}" class="property-bg">
		</div>
        <div class="buttons" ng-click="$event.stopPropagation()">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <i class="fa fa-ellipsis-v" uib-dropdown-toggle></i>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu  role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-click="slc.SendToAgent(property)">Request Info</li>
                    <li role="menuitem" ng-click="slc.AddToList(property,true)">Move To Other List</li>
                    <li role="menuitem" ng-click="slc.AddToList(property)">Add To Other List</li>
                    <li role="menuitem" ng-click="slc.AddToTour(property)">Add to Tour</li>
                    <li role="menuitem" ng-click="slc.RemoveProperties(property)" ng-show="plc.currentId>0">Remove</li>
                </ul>
            </div>
        </div>
        <section class="photo-bottom">
            <article>
                <div class="info-card left">
                    <div class="list-price">{{property.listprice | currency:'$':0}}</div>
                    <div class="address">{{property.address}}</div>
                    <div class="cs">
                        <span>{{property.city}}, {{property.state}} {{property.postalcode}}</span>
                    </div>
                </div>
                <div class="info-card right">



                    <div class="property-type">
                        {{property.propertytype}}
						<div class="type-img-container">
							<img class="{{property.propertytype.toLowerCase()}}">
						</div>
                    </div>




                    <div class="bb-search">
                        <div class="bb-item">{{property.beds}} <span>Beds</span></div>
                        <div class="bb-item">{{property.baths}} <span>Baths</span></div>
                        <div class="bb-item">{{property.sqft | nanumber}} <span>Sq. Ft.</span></div>
                    </div>
                </div>


            </article>
        </section>
        <section class="info-more" ng-click="$event.stopPropagation();" ng-init="showdetails=sbc.showExtended">
            <div class="info-more-col">Days: <span>{{property.dom}}</span></div>
            <div class="info-more-col">Year: <span>{{property.yearbuilt}}</span></div>
<!--
            <div class="info-more-col">Fees : <span>${{property.ppsqft | number:0}}/ft<sup>2</sup></span></div>
-->
            <div class="info-more-col">MLS®#: <span>{{property.listingid}}</span></div>
            <div class="info-more-col">
                <!-- <button class="btn btn-link" ng-show="true" ng-click="sbc.showExtended=!sbc.showExtended">details <i class="fa fa-angle-down" aria-hidden="true"></i></button> -->
                <!-- <button class="btn btn-link" ng-click="$event.stopPropagation();spc.ShowDetailsPanel(property);">details <i class="fa fa-angle-down" aria-hidden="true"></i></button> -->
<!--
                <button class="btn btn-link" ng-click="$event.stopPropagation();showdetails=!showdetails">Details &lt;!&ndash;<i class="fa fa-angle-down" aria-hidden="true"></i>&ndash;&gt;</button>
-->
                <!--
                                <button class="btn btn-link" ng-click="$event.stopPropagation();showdetails=!showdetails">
                                <img src="images/expanddetails.svg" width="20px" aria-hidden="true">
                                 Details</button>
                -->
            </div>
        </section>

    </div>
</div>
<div class="extended" ng-show="sbc.showExtended" ng-class="sbc.showExtended == true ? 'active' : ''">
    <div class="properties ">
        <div class="row">
            <div class="col-sm-6"><label>PPS</label><div class="value">${{property.ppsqft}}</div></div>
            <div class="col-sm-6"><label>Lot</label><div class="value">{{property.lotsize | number:0}}</div></div>
        </div>
    </div>
    <div class="properties">
        <div class="row">
            <div class="col-sm-6"><label>Days:</label><div class="value">{{property.dom}}</div></div>
            <div class="col-sm-6"><label>Year</label><div class="value">{{property.yearbuilt}}</div></div>
        </div>
    </div>
    <div class="remarks" ng-show="property.clientcomments.length>0 && !property.addingComment"><div class="title" ng-click="property.addingComment=true" style="color:blue;cursor:pointer">My Comments</div>{{property.clientComments}}</div>
    <div class="add-remarks" ng-show="property.clientcomments.length==0 && !property.addingComment"><div class="title" style="color:blue" ng-click="property.addingComment=true">Add Comment</div></div>
    <div class="adding-remarks" ng-show="property.addingComment"><div class="title">My Comments</div><textarea ng-model="property.clientcomments"></textarea><button class="btn btn-primary btn-xs" ng-click="property.addingComment=false">Save</button></div>
    <div class="remarks" ng-show="property.agentcomments.length>0"><div class="title">Agent Comments</div>{{property.agentComments}}</div>
    <div class="remarks"><div class="title">Remarks</div>{{property.remarks}} ...</div>
</div>

