<div class="criteria">
    <div class="left-col">
        <section>
            <div class="criteria-item">
                <div class="dual-field">
                    <select name="min-sqft" ng-model="sbc.controlValues.minsqft" class="search-criteria search-select" ng-change="sbc.searchSqft()">
                        <option ng-repeat="option in sbc.controls.minsqft" ng-value="option.value">{{option.name}}</option>
                    </select>
                    &nbsp;-&nbsp;
                    <select name="max-sqft" ng-model="sbc.controlValues.maxsqft" class="search-criteria search-select" ng-change="sbc.searchSqft()">
                        <option ng-repeat="option in sbc.controls.maxsqft"  ng-value="option.value">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </section>
    </div>
    <div class="right-col">
    </div>
</div>
