<div class="reala-search-wrapper">
    <div class="reala-search-inner">
        <div class="reala-form-col reala-form-col-key-search search-lookup-box input-group stylish-input-group">
         <input type="text" id="rea_search_searchbar" class="form-control" placeholder="City,Address,Community,Postal Code or MLS#"
                   ng-model="sbc.bodyText">
            <button class="near-button">
                <img ng-click="sbc.SetArea({local:1})" src="images/gpsfinal.svg">
            </button>
            <button  ng-class="sbc.bodyText.length>0?'active':''">
                <img ng-hide="sbc.bodyText.length>0" src="images/search.svg">
                <img ng-show="sbc.bodyText.length>0" src="images/searchhighlight.svg">
            </button>
           
            <div class="search-lookups -primary" id="rea_search_areas" ng-show="sbc.showLookup">
                <ul class="search-lookups-inner">
                    <li ng-repeat="result in sbc.lookaheadResults">
                        <div class="group-search-inner">
                            <div class="area-category title-group" ng-if="result.category!=''">
                                <span><img class="icon-group" src="images/hartcourts/house-icon.png"></span>{{result.category}}
                            </div>
                            <div class="area-group item-search" ng-click="sbc.UpdateArea(result)">
                                <div class="area-label">{{result.label}}</div>
                                <div class="area-reference">{{result.citystate}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="reala-form-col reala-form-col-price">
            <button uib-popover-template="'search/search-price-dropdown.tpl.html'" popover-placement="bottom-left" popover-trigger="'outsideClick'"
                    type="button" class="btn-select">
                <img src="images/dollar.svg"> {{sbc.controlValues.maxlistprice||sbc.controlValues.minlistprice ?
                                                sbc.controlValues.maxlistprice&&sbc.controlValues.minlistprice ?
                                                sbc.controlValues.maxlistprice==sbc.controlValues.minlistprice ? 
                                                sbc.prettifyPrice(sbc.controlValues.maxlistprice) : sbc.prettifyPrice(sbc.controlValues.minlistprice)+'-'+sbc.prettifyPrice(sbc.controlValues.maxlistprice) : !sbc.controlValues.maxlistprice ? 
                                                sbc.prettifyPrice(sbc.controlValues.minlistprice)+'+' : '-'+sbc.prettifyPrice(sbc.controlValues.maxlistprice)  : 'Price'}} <i class="fa fa-caret-down"></i>
            </button>
        </div>
        <div class="reala-form-col reala-form-col-bed">
            <button uib-popover-template="'search/search-bed-dropdown.tpl.html'" popover-placement="bottom-left" popover-trigger="'outsideClick'"
                    type="button" class="btn-select">
                   
                <img src="images/bed.svg">{{sbc.controlValues.maxbeds||sbc.controlValues.minbeds ?
                                            sbc.controlValues.maxbeds&&sbc.controlValues.minbeds ?
                                            sbc.controlValues.maxbeds==sbc.controlValues.minbeds ? 
                                            sbc.controlValues.maxbeds : sbc.controlValues.minbeds+'-'+sbc.controlValues.maxbeds : !sbc.controlValues.maxbeds ? 
                                            sbc.controlValues.minbeds+'+' : '-'+sbc.controlValues.maxbeds  : 'Beds'}}<i class="fa fa-caret-down"></i>
            </button>
        </div>
        <div class="reala-form-col reala-form-col-bath">
            <button uib-popover-template="'search/search-bath-dropdown.tpl.html'" popover-placement="bottom-left" popover-trigger="'outsideClick'"
                    type="button" class="btn-select">
                <img src="images/bath.svg">{{sbc.controlValues.maxbaths||sbc.controlValues.minbaths ? 
                                            sbc.controlValues.maxbaths&&sbc.controlValues.minbaths ? 
                                            sbc.controlValues.maxbaths==sbc.controlValues.minbaths ? 
                                            sbc.controlValues.maxbaths :  sbc.controlValues.minbaths+'-'+sbc.controlValues.maxbaths : !sbc.controlValues.maxbaths ? 
                                            sbc.controlValues.minbaths+'+' : '-'+sbc.controlValues.maxbaths  : 'Baths'}} <i class="fa fa-caret-down"></i>
            </button>
        </div>
        <div class="reala-form-col reala-form-col-sqft">
            <button uib-popover-template="'search/search-sqft-dropdown.tpl.html'" popover-placement="bottom-left" popover-trigger="'outsideClick'"
                    type="button" class="btn-select">
                <img src="images/area.svg">{{sbc.controlValues.maxsqft||sbc.controlValues.minsqft ? 
                                            sbc.controlValues.maxsqft&&sbc.controlValues.minsqft ? 
                                            sbc.controlValues.maxsqft==sbc.controlValues.minsqft ? 
                                            sbc.controlValues.maxsqft :  sbc.controlValues.minsqft+'-'+sbc.controlValues.maxsqft : !sbc.controlValues.maxsqft ? 
                                            sbc.controlValues.minsqft+'+' : '-'+sbc.controlValues.maxsqft  : 'Sqft'}} <i class="fa fa-caret-down"></i>
            </button>
        </div>
        <div class="reala-form-col reala-form-col-config">
            <button uib-popover-template="'search/criteria.tpl.html'" popover-placement="bottom" popover-trigger="'outsideClick'"
                    type="button" class="btn-select">
                <img src="images/filtersearch.svg">More.... <i class="fa fa-caret-down"></i>
            </button>
        </div>
        <div class="reala-form-col reala-form-col-open-house">
            <div class="open-house-filter">
                <div class="switcher" ng-class="{active: sbc.controlValues.nextopenhouse != 0}" ng-click="sbc.OpenhouseToggle()">
                    <div class="switcher-button"></div>
                </div>
                <div class="switcher-text">Open House</div>
            </div>
        </div>
        <div class="reala-form-col reala-form-col-submit save-search" uib-dropdown>
            <div class="group">
                <div class="row">
                    <button class="btn-submit"  ng-click="sbc.SaveSearch()">Save</button>
                    <button class="btn btn-default"  uib-dropdown-toggle>
                        Show
                        <i class="fa fa-angle-down dropdown-caret"></i>
                    </button>
                    <div class="save-search-text">Searches</div>
                </div>

            </div>
            <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="search in sbc.savedSearches.mysearches" ng-click="sbc.SetSavedSearch(search.name)">{{search.name}}</li>
                <li role="menuitem" ng-repeat="search in sbc.savedSearches.agentsearches" ng-click="sbc.SetSavedSearch(search.name)">{{search.name}}</li>
            </ul>

        </div>

        <div class="reala-form-col reala-form-col-filter-listing" ng-if="!isNarrow">

            <section class="filter-wrapper">
                <button class="all-detail" ng-show="{{sbc.currentView!='map'}}" ng-click="sbc.showExtended=!sbc.showExtended">Details</button>
                <div class="filter-col view">

                    <a ui-sref=".maplist" ng-model="sbc.currentView" uib-btn-radio="'maplist'">
                        <img src="images/listnew.svg" class="normal">
                        <img src="images/listnew-active.svg" class="active">
                    </a>

                    <a ui-sref=".maptable" ng-model="sbc.currentView" uib-btn-radio="'maptable'">
                        <img src="images/tablenew.svg" class="normal">
                        <img src="images/tablenew-active.svg" class="active">
                    </a>
                    <a ui-sref=".map" ng-model="sbc.currentView" uib-btn-radio="'map'">
                        <img src="images/mapnew.svg" class="normal">
                        <img src="images/mapnew-blue.svg" class="active">
                    </a>

                </div>
            </section>
        </div>
        <div class="reala-form-col reala-form-col-filter-listing" ng-if="isNarrow">

            <section class="filter-wrapper">
                <div class="filter-col view">
                    <a ng-click="sbc.switchMapListView()" ng-if="!showMap">
                        <img src="images/icon-list.svg" class="normal">
                        <img src="images/icon-list-active.svg" class="active">
                    </a>
                    <a ng-click="sbc.switchMapListView()" ng-if="showMap">
                        <img src="images/mapnew.svg" class="normal">
                        <img src="images/mapnew-blue.svg" class="active">
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
