<table-pane>
    <section class="listing-content-inner">
        <section class="listing-filter">
            <div class="listing-filter-inner">
                <div class="filter-options">
                    <div class="filter-option-col">
                        <label> Save In</label>
                        <select class="save-locations"  ng-model="stc.currentSaveLocation" ng-change="stc.SaveLocationChanged()">
                            <option ng-repeat="list in stc.lists" value="{{list}}" ng-selected=" list==stc.currentSaveLocation">{{list}}</option>
                            <option style="font-style:italic;font-weight:bo" value="-1" >Create New List...</option>
                        </select>
                    </div>
                    <button ui-sref="propertylist({name:stc.currentSaveLocation})" class="btn btn-arrow-blue">

                        <img src="images/altarrow.svg" class="btn-arrow-blue-image" width="35px">
                    </button>
                </div>
            </div>
        </section>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th ng-repeat="name in stc.columnNames"><a ng-click="stc.SortOrderChanged(name)">{{name}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in stc.rows track by $index" ng-class="{hilite: row.listingid==stc.hiliteListingID}" ng-click="stc.ShowOnMap($index)">
                        <td>
                            <ul class="list-actions">
                                <li data-toggle="tooltip" ng-show="!stc.IsSaved($index)" title="Save This Property" ng-click="$event.stopPropagation();stc.SaveProperty($index);">
                                    <i class="fa fa-floppy-o"></i>
                                </li>
                                <li ng-show="stc.IsSaved($index)">
                                    <i class="fa fa-check"></i>
                                </li>
                                <li>
                                    <i ng-if="stc.includesMap" data-toggle="tooltip" class="hoveronly" title="Show on Map" ng-click="$event.stopPropagation();slc.ZoomToListing($index);">
                                        <img src="images/cardicons/showonmap.svg"></img>
                                    </i>
                                </li>
                                <li data-toggle="tooltip" title="Request Info" ng-click="$event.stopPropagation();stc.RequestInfo($index);">
                                    <i class="fa fa-info-circle"></i>
                                </li>
                                <li data-toggle="tooltip" title="View Details" ng-click="$event.stopPropagation();stc.ViewDetails($index);">
                                    <i class="fa fa-eye"></i>
                                </li>
                            </ul>
                        </td>
                        <td ng-repeat="col in row track by $index">{{col}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <section class="pagination-block">
            <div paging=""
                 page="stc.currentPage"
                 page-size="stc.pageSize"
                 total="stc.totalListings"
                 paging-action="stc.DisplayListingsPage(page)"
                 show-prev-next="true"
                 show-first-last="true"
                 ul-class="pagination pagination-sm">
            </div>
        </section>
        <!-- <button class="toggle-map" ng-click="slc.togglePaneSize()">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button> -->
    </section>
</table-pane>
