<div class="reala-search-wrapper">
  <div class="reala-search-inner">
    <div class="reala-form-col reala-form-col-key-search search-lookup-box input-group stylish-input-group">
            <input type="text" id="rea_home_search_lookup" class="form-control"  placeholder="Enter City, Address, Street or Community" ng-model="hsbc.bodyText" ng-change="hsbc.TextChanged()">
            <button ng-click="hsbc.UpdateArea()" ng-class="hsbc.showControls?'active':''">
               <img ng-hide="hsbc.bodyText.length>0" src="images/searchform/icon-search.png">
               <img ng-show="hsbc.bodyText.length>0" src="images/searchform/icon-search-active.png">
            </button>
            <div class="search-lookups -primary" id="rea_home_search_areas" ng-show="hsbc.showLookup">
                <ul class="search-lookups-inner">
                    <li ng-repeat="result in hsbc.lookaheadResults">
                        <div class="group-search-inner">
                            <div class="area-category title-group" ng-if="result.category!=''">
                                <span><img class="icon-group" src="images/hartcourts/house-icon.png"></span>{{result.category}}
                            </div>
                            <div class="area-group item-search" ng-click="hsbc.UpdateArea(result)">
                                <div class="area-label">{{result.label}}</div>
                                <div class="area-reference">{{result.citystate}}</div>
                            </div>
                        </div>
                    </li>
                 </ul>
            </div>
        </div>
  </div>
</div>
