<div class="wrapper-signup -forgot">
  <div class="wrapper-content">
    <h1 class="logo">
      <a href="#" title="Harcourts" class="logo-link">
        <img src="images/hartcourts/logo.svg" width="255px" alt="background" class="img-logo">
      </a>
    </h1>
    <h2 class="form-title">FORGOT YOUR PASSWORD?</h2>
    <a class="btn-close-sign" ng-click="cancel()"><img src="images/btn-close.jpg" class="img-responsive"></a>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="short-desc">
          To reset your password, enter the email address you previously used to sign in.
It can be your email address, an email address you use with one of the social networks, or any email address associated with your account.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form method="" class="signup-form">
          <div class="form-item">
            <label for="email" class="hidden">Email</label>
            <div class="wrapp-input">
              <span class="icon icon-user"></span>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <span class="help-text">Text error!</span>
          </div>
          <div class="sign-forgot">
            <button type="submit" class="btn btn-default" ng-click="ok()">SIGN UP</button>
          </div>
        </form>
      </div>
    </div>
    <div class="licence">Have and account already? <a ng-click="login()">Log in</a></div>
  </div>
</div>
