<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Select Search</h3>
            </div>
            <div class="modal-body">
                <label>Search</label>
                <select class="form-control">
                    <option ng-repeat="search in searches" value="{{search.searchid}}"}>{{search.name}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">OK</button>
                <button class="btn btn-warning" ng-click="$hide();submit()">Cancel</button>
            </div>
        </div>
    </div>
</div>