<div class="popover" role="tooltip">
    <div class="popover-arrow"></div>
    <div class="popover-content">
        <ul>
            <li role="menuitem" ng-click="mpc.AddPropertySearch(nmc.msg)">Attach Property Search</li>
            <li role="menuitem" ng-click="mpc.AddPropertyTour(nmc.msg)">Attach Property Tour</li>
            <li role="menuitem" ng-click="mpc.AddPropertyList(msg)">Attach Property List</li>

            <li>Attach Property</li>
            <li role="menuitem" class="inputfile" ng-click="mpc.UploadFile(nmc.msg)">
                Attach File
            </li>
        </ul>
    </div>
</div>
