<div class="modal-header">
    <h3>Attach A Property Tour</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <select ng-model="data.name" class="form-control" >
            <option value="" disabled selected>Select Property Tour</option>
            <option ng-repeat="tour in data.tours" value="{{tour}}">{{tour}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea ng-model="data.body" class="form-control"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(false)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>