<div class="message-property-card property-photo" ng-click="mpc.ShowPropertyDetails(property);$event.stopPropagation()" hover-image-effect="property-bg">
    <div class="property-text-overlay"></div>
    <div class="off-market" ng-show="property.archivedate">Off Market {{property.archivedate}}</div>
    <div class="property-inner">
	<div class="property-img-container">
        <img ng-src="{{mpc.domain+property.firstphotourl}}" class="property-bg">
    </div>
    <section class="photo-top item-up">
        <div class="sc list-label-card">

            <span ng-repeat="cond in property.specialconditions track by $index" class="label-card-item status">{{cond}}</span>
        </div>
    </section>
    <!--<section class="photo-bottom">
        <article>
            <div class="type"><span>{{messagePropertyCard.property.propertytype}}</span><span> {{messagePropertyCard.property.transactionType}}</span></div>
        </article>
        <article>
            <div class="list-price">{{messagePropertyCard.property.listprice | currency:'$':0}}</div>
            <div class="bb">
                <span>{{messagePropertyCard.property.beds}}<label>bd</label></span>
                <span>{{messagePropertyCard.property.baths}}<label>ba</label></span>
                <span>{{messagePropertyCard.property.sqft}}<label>sqft</label></span>
            </div>
            <div class="list-control-btn">
                <button class="btn btn-folder" data-toggle="tooltip" title="Save This Property" ng-show="messagePropertyCard.property.savedpropertyid==0"
                    ng-click="$event.stopPropagation();spc.SaveProperty(property);">
                    <span class="icon icon-folder"></span>
                </button>
            </div>
    </section>-->






        <section class="photo-bottom">
            <article>
                <div class="info-card left">
                    <div class="list-price">
                        <span class="price-value">${{ messagePropertyCard.property.listprice }}</span>
                    </div>
                    <div class="address">{{ messagePropertyCard.property.streetaddress }}</div>
                    <div class="cs">
                <span>
                    {{ messagePropertyCard.property.city }},
                    {{ messagePropertyCard.property.stateprovince }},
                    {{ messagePropertyCard.property.postalcode }}
                </span>
                    </div>


                </div>
                <div class="info-card right">
                    <div class="property-type">
                        {{property.propertytype}}
						<div class="type-img-container">
							<img class="{{property.propertytype.toLowerCase()}}">
						</div>
                        
                    </div>
                    <div class="bb-search">
                        <div class="bb-item">{{property.beds}} <span>Beds</span></div>
                        <div class="bb-item">{{property.baths}} <span>Baths</span></div>
                        <div class="bb-item">{{property.sqft | nanumber}} <span>Sq. Ft.</span></div>
                    </div>
                </div>

            </article>
        </section>
        <section class="info-more" ng-click="$event.stopPropagation();" ng-init="showdetails=sbc.showExtended">
            <div class="info-more-col">Lot Size: <span>{{property.lotsize | number:0}}</span></div>
            <div class="info-more-col">Days:: <span>{{property.dom}}</span></div>
            <div class="info-more-col">Fees : <span>${{property.ppsqft | number:0}}</span></div>
            <div class="info-more-col">Year	: <span>{{property.yearBuilt}}</span></div>
            <div class="info-more-col">MLS® #: <span>{{property.listingId}}</span></div>
        </section>
	</div>
        <!-- <div class="background-click" ng-click="slc.ShowDetails(property)" style="position: absolute;width: 100%;height: 100%;top: 0px"></div> -->
</div>
<!-- <div class="extended" ng-show="sbc.showExtended" ng-class="sbc.showExtended == false ? 'active' : ''">
    <div class="properties">
        <div class="row">
            <div class="col-sm-6"><label>Price/SqFt</label><div class="value">{{property.ppsqft | nacurrency}}</div></div>
            <div class="col-sm-6"><label>Fees</label><div class="value">{{property.hoafees | nacurrency}}</div></div>
        </div>
    </div>
    <div class="properties">
        <div class="row">
            <div class="col-sm-6"><label>Lot Size</label><div class="value">{{property.lotsize | nanumberacres}}</div></div>
            <div class="col-sm-6"><label>Year Built</label><div class="value">{{property.yearbuilt}}</div></div>
        </div>
    </div>
    <div class="remarks"><div class="title">Remarks</div>{{property.remarks}} ...</div>
</div> -->
